bg-height = 50vh
bg-width = 50vh

.avatar-overlay
    homePageContainer()

    position fixed
    top 0
    right 0
    left 0
    z-index -1
    height 100%

.transform-width-container
    avatar-width-offset = (-(bg-width / 3.6))

    position absolute
    top 0
    right avatar-width-offset
    bottom 0
    left avatar-width-offset

.avatar
    position absolute
    bottom 0

.avatar-stand
    bg-width = (bg-height * 0.998)
    bg-avatars = 1
    steps = 1
    avatar-width = (bg-width / bg-avatars)

    width 'calc(100% - %s)' % avatar-width
    height 100%

    .avatar
        width avatar-width
        height bg-height
        background url('../../assets/stand.png') no-repeat
        background-size bg-width bg-height

.avatar-wave
    bg-width = (bg-height * 6.98)
    bg-avatars = 7
    steps = 7
    avatar-width = (bg-width / bg-avatars)

    width 'calc(100% - %s)' % avatar-width
    height 100%

    .avatar
        width avatar-width
        height bg-height
        background url('../../assets/wave.png') no-repeat
        background-size bg-width bg-height
        animation wave 1.1s steps(steps) infinite alternate

    @keyframes wave
        from
            background-position -(avatar-width * (bg-avatars - steps)) 0

        to
            background-position -(bg-width)

.avatar-fall
    bg-width = (bg-height * 3.96)
    bg-avatars = 4
    steps = 4
    avatar-width = (bg-width / bg-avatars)

    width 'calc(100% - %s)' % avatar-width
    height 100%

    .avatar
        width avatar-width
        height bg-height
        background url('../../assets/fall.png') no-repeat
        background-size bg-width bg-height
        animation fall 0.7s steps(steps) infinite

    @keyframes fall
        from
            background-position -(avatar-width * (bg-avatars - steps)) 0

        to
            background-position -(bg-width)

.avatar-float
    bg-height = (bg-height * 1.32)
    bg-width = (bg-height * 0.755)
    bg-avatars = 1
    steps = 1
    avatar-width = (bg-width / bg-avatars)

    width 'calc(100% - %s)' % avatar-width
    height 100%

    .avatar
        width avatar-width
        height bg-height
        background url('../../assets/float.png') no-repeat
        background-size bg-width bg-height
