@import 'typographic'
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=fallback')

$body-font = Montserrat, system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
$heading-font = $body-font
$body-color = #555
typographic()
